

.question {
    font-size:5rem  !important;
    font-family: "Leelawed", serif;
}

.partenaires {

    margin-right: 5%;
    width:15%;
}
.influenceurs{

    margin-left: 5%;
    width:15%;
}
.button-index{
    position:relative;
}

.buttonChoiceNone {

    display:none;
}

.buttonChoiceBlock {

    display:block;
}

.displayNone {

    display:none;
}

.picture {

    width:100%;
}
.blur {
    filter: blur(3px);
    transition: .3s ease-in-out;
}
.blur:hover {
    filter:blur(0);
}

.blur2 {
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}
.blur2:hover {
    filter: grayscale(0);
}

.influ {
    width:100%;
}

@font-face {
    font-family: Leelawed;
    src: url(/assets/fonts/leelawad.ttf);
}