

.question {
    font-size:5rem  !important;
    font-family: "Leelawed", serif;
}

.partenaires {

    margin-right: 5%;
    width:15%;
}

.button-index{
    position:absolute;
    width:36%;
    background-color: rgba(92, 78, 78, 0.36) !important;
}

.button-index:hover{
    background-color: rgba(177, 177, 177, 0.36) !important;
}

.buttonChoiceNone {

    display:none;
}

.buttonChoiceBlock {

    display:block;
}

.displayNone {

    display:none;
}

.picture {

    width:72%;
    position:relative;
}

.partepict {

    display:flex;
    justify-content: end;
    
    z-index:0;
}
.blur {
    filter: blur(3px) grayscale(100%);
    position:absolute;
    transform:scale(1);
    transition: filter .1s ease-in-out, transform 450ms;
    width:72%;
    z-index: 1;

}
.blur:hover {
    filter:blur(0) grayscale(0);
    transform:scale(1.01);
    
}

.blur2 {
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}
.blur2:hover {
    filter: grayscale(0);
}

.influ {
    width:100%;
}

.partenaires{

    font-family: Leelawed, serif;
    position:absolute;
    color:black;
    z-index:2;
    margin-left:-60%;
    margin-top:60%;
} 

.influenceurs{

    font-family: Leelawed, serif;
    position:absolute;
    color:black;
    z-index:2;
    margin-left:50%;
    margin-top:50%;
} 


@font-face {
    font-family: Leelawed;
    src: url(/assets/fonts/leelawad.ttf);
}